inference_gpu_ids = [0,1,2,3,4,5]
trainer_gpu_ids = [6,7]

max_steps = 500

[model]
name = "willcb/DeepSeek-R1-Distill-Qwen-7B"

[trainer.model.ac]

[trainer.optim]
lr = 1e-6
weight_decay = 0.01

[orchestrator]
batch_size = 1024
rollouts_per_example = 16
seq_len = 16384

[orchestrator.sampling]
max_tokens = 16384
temperature = 0.7

[orchestrator.env_mix]
probabilities = [0.5, 0.5]

[[orchestrator.env]]
id = "skywork-math"
args = { solve_rate_field = "solve_rate_qwen_r1_distill_7b", min_solve_rate = 0.01, max_solve_rate = 0.99 }
name = "skywork"

[[orchestrator.env]]
id = "acereason-math"
name = "acereason"

[orchestrator.val]
interval = 5
num_examples = 32
rollouts_per_example = 16

[orchestrator.buffer]
type = "difficulty-pool"
easy_fraction = 0.0
hard_fraction = 0.0
easy_border = 1.0
hard_border = 0.0

# [orchestrator.eval]
# interval = 50
# 
# [[orchestrator.eval.env]]
# id = "math500"
# rollouts_per_example = 1
# 
# [[orchestrator.eval.env]]
# id = "aime2025"
# rollouts_per_example = 32

[inference.parallel]
dp = 3
tp = 2