inference_gpu_ids = [0,1,2,3,4,5]
trainer_gpu_ids = [6,7]

max_steps = 200
seq_len = 4096

[model]
name = "Qwen/Qwen3-4B-Instruct-2507"

[wandb]
project = "wiki-search"
name = "wiki-search"

[trainer.optim]
lr = 1e-5
weight_decay = 0.0

[trainer.model.lora]
rank = 8
dropout = 0.0
target_modules = [
    "q_proj",
    "k_proj",
    "v_proj",
    "o_proj",
    "gate_proj",
    "up_proj",
    "down_proj"
]

[orchestrator]
batch_size = 512
rollouts_per_example = 16
oversampling_factor = 2.0

[orchestrator.model.lora]
name = "qwen3-4b-wiki-search"

[orchestrator.sampling]
max_tokens = 512

[orchestrator.buffer]
online_difficulty_filtering = true

[[orchestrator.env]]
id = "primeintellect/wiki-search"

[ckpt] # Checkpoint at the end of training

[inference.model]
enable_auto_tool_choice = true
tool_call_parser = "hermes"
