max_steps = 300
batch_size = 128
seq_len = 2048
rollouts_per_example = 16
mask_truncated_completions = false

[model]
name = "Qwen/Qwen2.5-0.5B-Instruct"

[wandb]
project = "alphabetsort"
name = "orch_hyperparamsweep_beta-0.99_tol-1e-7_step-5_batch-128_lr-1e-4"

[[env]]
id = "alphabet-sort"
args = { min_turns = 2, max_turns = 2 }

[sampling]
max_tokens = 512
