max_steps = 45
batch_size = 64
seq_len = 2048
rollouts_per_example = 16
mask_truncated_completions = false

[model]
name = "Qwen/Qwen2.5-0.5B-Instruct"

[wandb]
project = "primerl"
name = "orch_test_run_2"

[[env]]
id = "alphabet-sort"
args = { min_turns = 2, max_turns = 2 }

[sampling]
max_tokens = 512