max_steps = 150
batch_size = 512
seq_len = 8192
rollouts_per_example = 16
mask_truncated_completions = false

[model]
name = "Qwen/Qwen2.5-0.5B-Instruct"

[wandb]
platform = "tensorboard"
project = "slimpeft"
name = "orch_AS_qwen0.5B_full_1e6_grad_pca_full"

[[env]]
id = "alphabet-sort"
args = { min_turns = 2, max_turns = 2 }

[sampling]
max_tokens = 128

[wandb.log_extras]
interval = 50

[eval]
interval = 10
rollouts_per_example = 1
num_examples = 1024

[[eval.env]]
id = "alphabet-sort"
args = { "min_turns" = 2, "max_turns" = 2, "seed" = 2001 }

[eval.sampling]
max_tokens = 128
temperature = 0.7
