inference_gpu_ids = [0,1,2,3,4,5]
trainer_gpu_ids = [6,7]

max_steps = 1000
seq_len = 16384

[model]
name = "deepseek-ai/DeepSeek-R1-Distill-Qwen-7B"

[ckpt]
interval = 100
resume_step = 500

[wandb]
project = "acereason-math"
name = "stage2"

[orchestrator]
batch_size = 2048
rollouts_per_example = 16

[orchestrator.sampling]
temperature = 0.6
max_tokens = 16384

[[orchestrator.env]]
id = "single-turn-math"
args = { dataset_name = "nvidia/AceReason-Math", dataset_subset = "default", question_key = "problem" }

[orchestrator.eval]
interval = 50

[[orchestrator.eval.env]]
id = "math500"
rollouts_per_example = 1

[[orchestrator.eval.env]]
id = "aime2024"
rollouts_per_example = 32

[[orchestrator.eval.env]]
id = "aime2025"
rollouts_per_example = 32

[trainer.model.ac]

[inference.parallel]
dp = 6