max_steps = 300
batch_size = 256
seq_len = 2048
rollouts_per_example = 16
mask_truncated_completions = false

[model]
name = "Qwen/Qwen2.5-0.5B-Instruct"

[wandb]
platform = "tensorboard"
project = "slimpeft_v2"
name = "orch_analysis_alphabetsort-qwen0.5B-sparsity-99_lr=1e4_random0"

[[env]]
id = "alphabet-sort"
args = { min_turns = 2, max_turns = 2 }

[sampling]
max_tokens = 512

[wandb.log_extras]
interval = 50

[eval]
interval = 10
rollouts_per_example = 1
num_examples = 512

[[eval.env]]
id = "alphabet-sort"
args = {"min_turns" = 2, "max_turns"= 2, "seed"= 2001}

[eval.sampling]
max_tokens = 512