name: CPU Tests

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  unit-tests:
    name: Unit tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"
      - name: Install dependencies
        run: uv sync --all-extras --locked
      - name: Run tests
        env:
          USERNAME_CI: CI_RUNNER
          WANDB_API_KEY: ${{ secrets.WANDB_API_KEY }}
          # Set WANDB_MODE to online only if WANDB_API_KEY is available, otherwise set to offline
          # This is to allow running tests on forks without WANDB_API_KEY
          WANDB_MODE: ${{ secrets.WANDB_API_KEY && 'online' || 'offline' }}
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          PRIME_API_KEY: ${{ secrets.PRIME_API_KEY }}
          GITHUB_REF_NAME: ${{ github.ref_name }}
          GITHUB_HEAD_REF: ${{ github.head_ref }}
          PYTEST_OUTPUT_DIR: /tmp/outputs
        run: PYTEST_OUTPUT_DIR=/tmp/outputs uv run pytest tests/unit -m "not gpu"
      - name: Cleanup output_dir
        run: rm -rf /tmp/outputs

  integration-tests:
    name: Integration tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"
      - name: Install dependencies
        run: uv sync --all-extras --locked
      - name: Run tests
        env:
          USERNAME_CI: CI_RUNNER
          WANDB_API_KEY: ${{ secrets.WANDB_API_KEY }}
          # Set WANDB_MODE to online only if WANDB_API_KEY is available, otherwise set to offline
          # This is to allow running tests on forks without WANDB_API_KEY
          WANDB_MODE: ${{ secrets.WANDB_API_KEY && 'online' || 'offline' }}
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          PRIME_API_KEY: ${{ secrets.PRIME_API_KEY }}
          GITHUB_REF_NAME: ${{ github.ref_name }}
          GITHUB_HEAD_REF: ${{ github.head_ref }}
          PYTEST_OUTPUT_DIR: /tmp/outputs
        run: PYTEST_OUTPUT_DIR=/tmp/outputs uv run pytest tests/integration -m "not gpu"
      - name: Cleanup output_dir
        run: rm -rf /tmp/outputs
