name: Style

on:
  push:
    branches:
      - main
      - refactor
  pull_request:
    # This will trigger the workflow for pull requests to any branch
    types: [opened, synchronize, reopened]

jobs:
  ruff:
    name: Ruff
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Run ruff
        uses: astral-sh/ruff-action@v3
        with:
          version: "0.13.0"
          args: "check --config=pyproject.toml"
      - name: Run ruff format (check)
        uses: astral-sh/ruff-action@v3
        with:
          version: "0.13.0"
          args: "format --check --config=pyproject.toml"
